<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="cashboxid" value="0d1269dc-e2ae-42e3-9c57-b686d7832683" />
        <add key="accesstoken" value="BHanhRLW0WK1jyS00C+tTcJGtBHhziGWHqynd52pExpfi99QFRue+S4D/w8p5jugQr6hwJu31Parqx5256Qv9pw=" />
        <add key="sandbox" value="True" />
    </appSettings>
</configuration>